.textContainer {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  color: #111;
  height: 60%;
  width: 20rem;
  justify-content: space-between;
  background: #fff;
  border-radius: 5px;
  padding: 20px;
  box-shadow: rgba(50, 50, 50, 0.1) 0px 16px 32px,
    rgba(0, 0, 0, 0.07) 0px 6px 16px;
}

.activeContainer {
  display: flex;
  align-items: center;
  margin-bottom: 50%;
}

.activeItem {
  display: flex;
  align-items: center;
}

.activeItem img {
  padding: 10px;
}

.activeContainer img {
  padding-left: 10px;
}

.textContainer h1 {
  margin-bottom: 0px;
}

@media (min-width: 320px) and (max-width: 1200px) {
  .textContainer {
    display: none;
  }
}
