html,
body {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
}

#root {
  height: 100vh;
}

* {
  box-sizing: border-box;
}

.joinOuterContainer {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100vh;
  align-items: center;
  background-color: #eee;
}

.joinInnerContainer {
  width: 40%;
  padding: 2rem;
  background: #fff;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 50, 0.1) 0px 16px 32px,
    rgba(0, 0, 0, 0.07) 0px 6px 16px;
}

.joinInput {
  border-radius: 5px;
  padding: 15px 20px;
  width: 100%;
}

.heading {
  color: #111;
  font-size: 2.5em;
  padding-bottom: 10px;
  border-bottom: 2px solid #111;
}

.button {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  background: #111;
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  width: 100%;
  cursor: pointer;
}

button:focus {
  outline: 0;
}

.button:hover {
  background: #000;
}

.mt-20 {
  margin-top: 20px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .joinInnerContainer {
    width: 65%;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .joinInnerContainer {
    width: 55%;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .joinInnerContainer {
    width: 45%;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .joinInnerContainer {
    width: 35%;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .joinInnerContainer {
    width: 25%;
  }
}
/* Extra large devices (large laptops and desktops, 1700px and up) */
@media only screen and (min-width: 1700px) {
  .joinInnerContainer {
    width: 20%;
  }
}
